backend:
  name: git-gateway
  branch: master

# These lines should *not* be indented
media_folder: "static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads


collections: # A list of collections the CMS should be able to edit
  - name: "post" # Used in routes, e.g., /admin/collections/blog
    label: "Inlägg" # Used in the UI
    description: >
      Allmänna inlägg som inte hamnar i någon särskild kategori - använd helst sparsamt!
    folder: "content/post" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "blog"}
      - {label: "Rubrik", name: "title", widget: "string"}
      - {label: "Publicera", name: "date", widget: "datetime"}
      - {label: "Utvald bild", name: "thumbnail", widget: "image", required: false}
      - {label: "Body", name: "body", widget: "markdown"}